{{>header}}
<body>

  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
      <div class="jumper">
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div>  
  <!-- ***** Preloader End ***** -->

  <!-- Header -->

  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html"><h2> NOMBRE<em>.</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://www.skyscanner.es/">VUELOS <!-- SKYSCANNER -->
                <span class="sr-only">(current)</span>
              </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="https://www.booking.com/index.es.html">HOTELES</a><!-- BOOKING -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index">Destinos
                <span class="sr-only">(current)</span>
              </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="signup">Sign UP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="personalArea">Area personal</a>
            </li>
            <li class="nav-item">
              <form action="/logout" method="post">
                <input type="submit" value="Sign Out" />
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
   <!-- Banner Starts Here -->
   
   <div class="heading-page header-text">
    <section class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              <h4>ZONA</h4>  
              <h2>ADMINISTRADOR</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Banner Ends Here -->

  <section class="contact-us">
    <div class="container">
      <div class="row-lg-12">
        <p style="margin-top: 15px;text-align: center;";>Bienvenido a la zona de administrador, aquí podrás editar y añadir destinos y configurar los diferentes perfiles de los usuarios.</p>
      </div>

      <div class="row">

        <div class="container">
          <div class="row">
          
            <div class="col-lg-12">
              <div class="down-contact">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="sidebar-item contact-form">
                      <div class="sidebar-heading">
                        <h2>Añadir destino</h2>
                      </div>
                      <div class="content">
                        <form id="contact" action="/login" method="post">
                          <div class="row">
                            <div class="col-md-6 col-sm-12 col-lg-4">
                              <label>Nombre Destino:</label><input type="text" name="username" /><br />
                              <label>Descripción:</label><input type="password" name="password" /><br />
                              <p>Inserte una imagen para su avatar</p>
                              <fieldset>
                                <input name="avatar" type="file" id="avatar" placeholder=""></input>
                              </fieldset>
                              <input type="submit" value="Guardar" /><br />				
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-4">
                              <label>Nombre Destino:</label><input type="text" name="username" /><br />
                              <label>Descripción:</label><input type="password" name="password" /><br />
                              <p>Inserte una imagen para su avatar</p>
                              <fieldset>
                                <input name="avatar" type="file" id="avatar" placeholder=""></input>
                              </fieldset>
                              <input type="submit" value="Guardar" /><br />				
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-4">
                              <label>Nombre Destino:</label><input type="text" name="username" /><br />
                              <label>Descripción:</label><input type="password" name="password" /><br />
                              <p>Inserte una imagen para su avatar</p>
                              <fieldset>
                                <input name="avatar" type="file" id="avatar" placeholder=""></input>
                              </fieldset>
                              <input type="submit" value="Guardar" /><br />				
                            </div>
                          </div>
                          
                        </form>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
        
      </div>

    </div>
  </section>
{{>footer}}