{{>header}}

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->


<div class="row">
  <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index"><h2>Stand Blog<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="https://www.skyscanner.es/">VUELOS
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="https://www.booking.com/index.es.html">HOTELES</a> 
              </li>
              <!--<li class="nav-item">
                <a class="nav-link" href="index">Destinos
                  <span class="sr-only">(current)</span>
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="login">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="signup">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="personalArea">Area personal</a>
              </li>
              
              {{#logged}}
			        <div class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav">
					        <li><form action="/logout" method="post">
							    <button class="btn btn-default navbar-btn" type="submit">LogOut</button>
							    <input type="hidden" name="_csrf" value="{{token}}" />
						      </form></li>
				        </ul>
              </div>
			        {{/logged}}
            </ul>
          </div>
        </div>
      </nav>
    </header>

  </div>
<!--
  <div class="col-lg-6">
    <div class="blog-post">
      {{#destinations}}
      <div class="blog-thumb">
        <img src="assets/images/blog-thumb-01.jpg" alt="">
      </div>
      <div class="down-content">
        <span>{{name}}</span>
        <a href="post-details.html"><h4>Más información</h4></a><ahi va la referencia a destino/nombre
        <p>{{information}}</p>
        <div class="post-options">
          <div class="row">
          </div>
        </div>
      </div>
      {{/destinations}}
    </div>
  </div>

-->
<section class="blog-posts grid-system">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            <div class="col-lg-6">
              <div class="blog-post-destinations" id="destinos">
                {{#destinations}}
                <div class="blog-thumb">
                  <img src="assets/images/{{name}}.jpg" alt="">
                </div>
                <div class="down-content">
                  <span><a href="/destino/{{name}}">{{name}}</a></span>
                  <p>{{information}}</p>
                  <div class="post-options">
                    <div class="row">
                    </div>
                  </div>
                </div>
                
                {{/destinations}}

              </div>
              <button id="load-more-button" data-destinations="{{destinations.nextPageable.pageNumber}}">Mostrar más</button>
             
                  <script>
                    var pag = 1; // Variable para llevar el registro de la página actual

                    $(document).ready(function() {
                      // Manejador de eventos para el botón "Cargar Más"
                      $("#load-more-button").on("click", function() {
                        // Hacer una llamada AJAX al controlador con el número de página
                        $.ajax({
                          url: "/destinations/" + pag, // Ruta al archivo del controlador en el servidor
                          type: "GET", // Método de la llamada (puede ser GET o POST)
                          data: { pagina: pag }, // Datos a enviar al controlador (en este caso, el número de página)
                          dataType: "html", // Tipo de datos esperados en la respuesta
                          success: function(data) { // Función a ejecutar en caso de éxito
                            $("#destinos").append(data); // Agregar el contenido cargado al div de contenido
                            pag++; // Incrementar el número de página
                          },
                          error: function() { // Función a ejecutar en caso de error
                            alert("Error al cargar el contenido");
                          }
                        });
                      });
                    });
                  </script>

          
            </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{>footer}}