{{>header}}

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->


<div class="row">
  <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index"><h2>Stand Blog<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="https://www.skyscanner.es/">VUELOS
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="https://www.booking.com/index.es.html">HOTELES</a> 
              </li>
              <!--<li class="nav-item">
                <a class="nav-link" href="index">Destinos
                  <span class="sr-only">(current)</span>
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="login">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="signup">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="personalArea">Area personal</a>
              </li>
              
              {{#logged}}
			        <div class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav">
					        <li><form action="/logout" method="post">
							    <button class="btn btn-default navbar-btn" type="submit">LogOut</button>
							    <input type="hidden" name="_csrf" value="{{token}}" />
						      </form></li>
				        </ul>
              </div>
			        {{/logged}}
            </ul>
          </div>
        </div>
      </nav>
    </header>

  </div>
<!--
  <div class="col-lg-6">
    <div class="blog-post">
      {{#destinations}}
      <div class="blog-thumb">
        <img src="assets/images/blog-thumb-01.jpg" alt="">
      </div>
      <div class="down-content">
        <span>{{name}}</span>
        <a href="post-details.html"><h4>Más información</h4></a><ahi va la referencia a destino/nombre
        <p>{{information}}</p>
        <div class="post-options">
          <div class="row">
          </div>
        </div>
      </div>
      {{/destinations}}
    </div>
  </div>

-->
<section class="blog-posts grid-system">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            <div class="col-lg-6">
              <div class="blog-post">
                {{#destinations}}
                <div class="blog-thumb">
                  <img src="assets/images/{{name}}.jpg" alt="">
                </div>
                <div class="down-content">
                  <span><a href="/destino/{{name}}">{{name}}</a></span>
                  <p>{{information}}</p>
                  <div class="post-options">
                    <div class="row">
                    </div>
                  </div>
                </div>

                <button id="load-more-button" data-destinations="{{destinations.nextPageable.pageNumber}}">Mostrar más</button>
                {{/destinations}}

                 
    <script>
      const loadMoreButton = document.querySelector('#load-more-button');
      const destiantionsContainer = document.querySelector('.blog-post');

      loadMoreButton.addEventListener('click', function () {
          const nextPage = this.getAttribute('data-destinations');

          // We make the Ajax request to the server to get the reviews of the following page, without reloading the entire page
          setTimeout(function () {
              const xhr = new XMLHttpRequest();
              xhr.open('GET', '?page=' + nextPage);
              xhr.onload = function () {
                  if (xhr.status === 200) {
                      // We convert the server response to HTML and add it to the reviews container.
                      const parser = new DOMParser();
                      const html = parser.parseFromString(xhr.response, 'text/html');
                      destinationsContainer.innerHTML += html.querySelector('.blog-post').innerHTML;

                      //Update the page number of the "Show more" button and hide the button if there are no more pages.
                      const newPage = parseInt(nextPage) + 1;
                      loadMoreButton.setAttribute('data-destinations', newPage);
                      if (!html.querySelector('#load-more-button')) {
                          loadMoreButton.style.display = 'none';
                      }

                      // Updating the star values in the added reviews.
                      // const newReviewRatings = destinationsContainer.querySelectorAll('.review-rating:not(.updated)');
                      
                      // newReviewRatings.forEach(newReviewRating => {
                      //     const rating = parseInt(newReviewRating.getAttribute('data-rating'));
                      //     const stars = newReviewRating.querySelectorAll('.star');

                      //     // We add active stars based on the rating value.
                      //     for (let i = 0; i < rating; i++) {
                      //         stars[i].classList.add('active');
                      //     }





                      //     // We mark this review as updated so that it will not be updated again in the future.
                      //     newReviewRating.classList.add('updated');
                      // });
                      
                      // We hide the spinner and show the button
                      spinner.style.display = 'none';
                      loadMoreButton.style.display = 'block';
                      if (!html.querySelector('#load-more-button')) {
                          loadMoreButton.style.display = 'none'; //When there is no more "load more" in html, that is, there are no more pages of reviews available, we hide the button
                      }
                  } else {
                      console.error('Error en la carga de reviews');
                  }
              };
              xhr.send();

          }, 0);
      });

  </script>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{>footer}}