

{{>header}}
<!-- <body>
 -->
  <!-- ***** Preloader Start ***** -->
<!--   <div id="preloader">
      <div class="jumper">
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div>  --> 
  <!-- ***** Preloader End ***** -->

  <!-- Header -->

<!--   <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html"><h2> STAND BLOG<em>.</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <form action="/logout" method="post">
                <input type="submit" value="Sign Out" />
                <input type="hidden" name="_csrf" value="{{token}}"/>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header> -->
  
   <!-- Banner Starts Here -->
   
   <div class="heading-page header-text">
    <section class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              <h4>admin</h4>  
              <h2>AÑADIR DESTINOS</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Banner Ends Here -->


  <section>
    
    <h1>Agregar Destinos</h1>
    <!-- Mostrar mensaje de éxito si existe -->
    <!--<c:if test="${not empty mensaje}">
      <div class="alert alert-success">${mensaje}</div>
    </c:if>-->
    
    <form action="/addDestination" method="post">
      <label for="name">Nombre del destino:</label>
      <input type="text" id="name" name="name"><br>
  
      <label for="information">Información del destino:</label>
      <input type="text" id="information" name="information"><br>
  
      <button type="submit" value="Agregar">Agregar destino</button>
      <input type="hidden" name="_csrf" value="{{token}}">
    </form>


    
  </section>

{{>footer}}