<!--INFORMACION DE 1 DESTINO-->
                {{#destinations}}
                <div class="blog-thumb">
                  <img src="/images/{{name}}.jpg" alt="">
                </div>
                <div class="down-content">
                  <span><a href="/destination/{{name}}">{{name}}</a></span>
                  <p>{{information}}</p>
                  <div class="post-options">
                    <div class="row">
                    </div>
                  </div>
                </div>

                
                {{/destinations}}